::selection {
	background: transparent;
}



.cz-timescale {
  padding-bottom: 0px;
  font-size: large;
  font-weight: 500;
  background-color: transparent;
  overflow: hidden;
  cursor: default;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .75em;
  color: white;
  position: absolute;
  bottom: 5.2em;
  overflow: visible;
}
.cz-timescale > canvas {
  position: absolute;
  bottom: 0px;
}
.cz-timescale-panel {
  position: absolute;
  display: table;
  z-index: 100;
  top: 0px;
  height: 100%;
  width: 185px;
  background-color: rgba(0,0,0,0);
  font-size: large;
  text-align: center;
}
.cz-timescale-left {
  display: none;
}
.cz-timescale-right {
  display: none;
}

.cz-timescale-labels-container {
  position: absolute;
  bottom: 16px;
}
.cz-timescale-label {
  position: absolute;
  display: block;
  float: left;
  white-space: nowrap;
}
.cz-timescale-marker {
  z-index: 150;
  display: table;
  position: absolute;
  height: 100%;
  width: auto;
  background-color: transparent;
  top: 0px;
}
.cz-timescale-marker div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 8px 15px 0px;
  background-color: rgba(0,0,0,0.65);
  border-left:  2px solid #fff;
  border-right:  2px solid #fff;
  border-top: 2px solid #fff;
  line-height: 100%;
  font-size: 12px;
  display: none;
}
.cz-timescale-marker-triangle {
  position: absolute;
  bottom: -14px;
  border-top: 14px solid   #000;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -14px;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow: hidden;
  min-width: 878px;
  min-height: 250px;
  background-color: #000;
  font-family: Helvetica, Arial, 'Trebuchet MS', San Serif;
  -ms-touch-action: none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
a:active {
  color: #fff;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
/***********************************************************

                            Header            
      
***********************************************************/

.tour-icon {
  background-image: url('../images/tour-icon.png');
}
.search-icon {
  background-image: url('../images/search-icon.png');
}
.view-icon {
  background-image: url('../images/view-icon.png');
  opacity: .5;
}
.header__edit-button:hover {
  background-color: #0464a2;
}
.header__tour-icon {
  background-image: url('../images/tour-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  width: 36px;
  line-height: 100%;
}
/***********************************************************

                            Content

***********************************************************/
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -36px;
  padding-top: 36px;
  height: 100%;
  min-height: 100%;
  posiiton:relative;
  z-index: 1;
}
#vc-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -38px;
  padding-top: 38px;
  height: 100%;
  min-height: 100%;
}
#vc {
  overflow: hidden;
  width: 100%;
  height: 100%;
	background-image: url('/images/background.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.virtualCanvas {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.virtualCanvasLayerDiv {
  position: absolute;
  z-index: 0;
  overflow: hidden;
}
.virtualCanvasLayerCanvas {
  position: absolute;
  left: 0;
  z-index: 0;
}
.contentItemDescription {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 10px;
  font-family: Arial;
}
.contentItemDescription .text {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
}
.tour_control {
  display: none;
  margin: 5px;
  width: 190px;
  cursor: pointer;
}
/***********************************************************

                        Bibliography
                   
***********************************************************/
.biblBack {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.biblOuterWindow {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  min-width: 300px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: default;
}
.biblWindow {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #434343;
  color: #fff;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.biblWindow .closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 5005;
  width: 30px;
  height: 30px;
}
.biblWindow .title {
  overflow: hidden;
  margin-right: 60px;
  margin-left: 32px;
  padding-top: 22px;
  padding-bottom: 7px;
  border-bottom: 1px solid #DBDBDB;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.biblWindow .sources {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 55px 20px 13px 32px;
  padding-right: 23px;
  height: auto;
}
.biblWindow .sources .source {
  margin: 0;
  padding: 0 5px 0 5px;
  border-bottom: 1px solid #DBDBDB;
}
.biblWindow .sources .sectionTitle {
  overflow: hidden;
  margin: 0;
  padding-top: 20px;
  border-bottom: 1px solid #DBDBDB;
  color: #fff;
  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  cursor: default;
}
.biblWindow .sources .source .sourceName {
  overflow: hidden;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 12px;
  color: #DBDBDB;
  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  cursor: pointer;
}
.biblWindow .sources .source .sourceDescr {
  margin: 0 50px 25px 12px;
  padding: 12px;
  border-radius: 8px;
  background-color: #DBDBDB;
  color: #424242;
  text-align: left;
  font-size: 15px;
  cursor: auto;
}
.czWindow {
  position: absolute;
  top: 144px;
  left: 0;
  z-index: 2000;
  margin-bottom: 0;
  margin-left: 0;
  width: 220px;
  border-bottom-right-radius: 8px;
  background-color: #424242;
  color: #BFBFBF;
  font-size: 14.5px;
  font-family: Arial;
}

.czWindow .czTextBox {
  margin: 3px 5px 3px 5px;
  height: 20px;
  border: 1px solid #BFBFBF;
  background-color: #424242;
  color: #fff;
  font-size: 12px;
  font-family: Arial;
}
.czWindow .czTextBox:focus {
  border: 1px solid #fff;
}
.czWindow .emptyTextBox {
  color: #BFBFBF;
  font-style: italic;
  font-size: 12px;
  font-family: Arial;
}
.czWindow .narration {
  margin-right: 15px;
  margin-left: 5px;
  padding-top: 10px;
  width: 181px;
  border-bottom: none;
  /*1px solid #424242;*/

  text-align: center;
  font-size: 13px;
  cursor: pointer;
}
.czWindow .narration-selected {
  color: #fff;
}
.czWindow .content {
  margin: 10px 13px 0 10px;
  width: 196px;
  border-bottom: 1px solid #424242;
}
.czWindow .content .category {
  margin-right: 13px;
  margin-bottom: 10px;
  width: 196px;
  border-bottom: 2px solid #BFBFBF;
  vertical-align: middle;
  cursor: pointer;
}
.czWindow .content .category:hover {
  color: #fff;
}
.czWindow .content .collapseButton {
  position: absolute;
  left: 194px;
}
.czWindow .content .categorySelected {
  margin-right: 13px;
  margin-bottom: 10px;
  width: 196px;
  border-bottom: none;
  vertical-align: middle;
  cursor: pointer;
}
.czWindow .content .categorySelected:hover {
  color: #fff;
}
.czWindow .content .itemContainer {
  margin-right: 15px;
  margin-left: 5px;
  padding-bottom: 10px;
  width: 181px;
  border-bottom: none;
  /*1px solid #424242;*/

}
.czWindow .content .itemContainer .item {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.czWindow .content .itemContainer .item:hover {
  color: #fff;
}
.czWindow .content .itemContainer .touritem-selected {
  color: #fff;
}
.czWindow .searchResults {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 15px 10px 10px;
  border-bottom: none;
  /*1px solid #424242;*/

}
.czWindow .searchResults .searchResultSection {
  overflow: hidden;
  margin: 5px 10px 5px 0;
  padding: 0;
  border-bottom: 1px solid #BFBFBF;
  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  cursor: default;
}
.czWindow .searchResults .searchResult {
  overflow: hidden;
  margin-right: 10px;
  margin-left: 7px;
  padding: 0;
  border-bottom: none;
  /*1px solid #424242;*/

  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  cursor: pointer;
}
.czWindow .searchResults .searchResult:hover {
  color: #fff;
}
.czWindow .searchResults .searchNoResult {
  overflow: hidden;
  margin-right: 10px;
  padding: 0;
  border-bottom: none;
  /*1px solid #424242;*/

  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: italic;
  font-size: 13px;
  cursor: default;
}
.bookmarksWindow {
  position: absolute;
  bottom: 44px;
  left: 0;
  z-index: 1999;
  margin-left: 0;
  width: 200px;
  min-height: 200px;
  max-height: 410px;
  border-top-right-radius: 8px;
  background-color: #424242;
  color: #BFBFBF;
  font-size: 14.5px;
  font-family: Arial;
}
.bookmarksWindow .header {
  padding: 10px 6px 9px 5px;
  padding-right: 6px;
  padding-left: 5px;
  border-bottom: 2px solid #BFBFBF;
  color: #fff;
  font-size: 14.5px;
  cursor: default;
}
.bookmarksWindow .headerButton {
  position: absolute;
  top: 9px;
  right: 12px;
}
.bookmarksWindow .slideHeader {
  margin-right: 19px;
  margin-left: 10px;
  padding: 5px 6px 10px 4px;
  color: White;
  font-size: 14.5px;
  cursor: default;
}
.bookmarksWindow .slideText {
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: 19px;
  margin-left: 15px;
  padding: 5px 3px 5px 3px;
  max-height: 250px;
  color: #BFBFBF;
  font-size: 13px;
}
.bookmarksWindow .slideFooter {
  margin: 20px 19px 0 10px;
  padding: 5px 0 13px 4px;
  height: 15px;
  border-top: 1px solid #BFBFBF;
  color: #fff;
  text-align: right;
  font-size: 12px;
  cursor: default;
}
/***********************************************************

                        Tooltip

***********************************************************/
.bubbleInfo {
  position: absolute;
  float: left;
  clear: both;
  display: block;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-position: center;
  white-space: nowrap;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#defaultBox {
  background-image: url('../images/defaultGradientBox.jpg');
}
.bubbleInfo span {
  color: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.block {
  position: relative;
  display: block;
  background-color: #abc;
  white-space: nowrap;
}
/***********************************************************

                        Welcome Screen
       
***********************************************************/
.welcomeScreenBack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.welcomeScreenOuterWindow {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 443px;
  min-height: 443px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: default;
  top: 50%;
  margin-top: -220px;
}
.welcomeScreen {
  position: relative;
  top: 16px;
  right: 0;
  bottom: 16px;
  left: 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  width: 864px;
  height: auto;
  min-height: 411px;
  border-radius: 8px;
  background-color: #3C5F96;
  color: #fff;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.welcomeScreen .titleArea {
  margin-right: 22px;
  margin-left: 32px;
  border-bottom: 1px solid #DBDBDB;
}
.welcomeScreen .titleArea .closeButton {
  position: absolute;
  top: 12px;
  right: 22px;
  z-index: 5005;
  width: 30px;
  height: 30px;
}
.welcomeScreen .titleArea .title {
  overflow: hidden;
  margin-right: 60px;
  padding-top: 22px;
  padding-bottom: 7px;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.welcomeScreen .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  margin: 75px 32px 13px 32px;
  width: 810px;
  height: auto;
  font-size: 16px;
  font-family: Arial;
}
.welcomeScreen .content .description {
  position: absolute;
  display: inline-block;
  margin-right: 20px;
  width: 220px;
  height: 315px;
}
.welcomeScreen .content .description .button {
  margin-bottom: 10px;
  width: 220px;
  height: 36px;
  border: 1px solid #EF4136;
  background: #EA7134;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}
.welcomeScreen .content .media {
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 560px;
  height: 315px;
}
.welcomeScreen .content .media .player {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
}
/***********************************************************

                        Fallbackpage

***********************************************************/
img.fallbackBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* Set up positioning */

  min-width: 1024px;
  /* Set up proportionate scaling */

  /* Set rules to fill background */

  min-height: 100%;
}
@media screen and (max-width: 1024px) {
  img.fallbackBackground {
    left: 50%;
    margin-left: -512px;
  }
}
.fallbackOuterContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -241px;
  margin-left: -450px;
  width: 900px;
  height: 482px;
  background-image: url('../images/fallbackOuterBackground.jpg');
  background-position: top center;
  cursor: default;
}
.fallbackContent {
  position: relative;
  overflow: hidden;
  margin: 25px auto 0 auto;
  width: 864px;
  height: 432px;
  background-color: #3C5F96;
  color: White;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.fallbackContent .titleArea {
  margin-right: 22px;
  margin-left: 32px;
  border-bottom: 1px solid #DBDBDB;
}
.fallbackContent .titleArea .title {
  overflow: hidden;
  margin-right: 60px;
  padding-top: 22px;
  padding-bottom: 7px;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.fallbackContent .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  margin: 75px 32px 13px 32px;
  width: 810px;
  height: auto;
  font-size: 16px;
  font-family: Arial;
}
.fallbackContent .content .description {
  position: absolute;
  display: inline-block;
  margin-right: 20px;
  width: 220px;
  height: 315px;
}
.fallbackContent .content .description a {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
  font-family: Arial;
}
.fallbackContent .content .description .button {
  width: 220px;
  height: 36px;
  border: 1px solid #EF4136;
  background: #EA7134;
  color: White;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}
.fallbackContent .content .media {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 560px;
  height: 315px;
}
.fallbackContent .content .media .player {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
}
/***********************************************************

                            Footer

***********************************************************/
#footer {
  position:fixed;
  bottom:0;
  height:4.0em;
  left:0px;
  right:0px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  z-index: 999;
}

#bottom-bar {
  width:100%;
  height:4.0em;
  position:relative;
  z-index:10;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.45)), to(rgba(0,0,0,.65))),#343838;
  background: -webkit-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,.65)),#343838;
  background-image: -moz-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,.65)),#343838;
  background-image: -o-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,.65)),#343838;
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,.65)),#343838;
  box-shadow: inset 0px 6px 1px rgba(0,232,255,.35);
  border-top: 1px solid #000;
  z-index:9999;
}

#bottom-bar #controls {
	margin: 0;
}

#bottom-bar #controls li {
  display:inline-block;
  float:right;
  border-left:1px solid #000;
}

#bottom-bar #controls li a {
  display:block;
  border-top:6px solid rgba(0,232,255,0.35);
  background:rgba(255,255,255,0.05);
  height:17px;
  vertical-align:baseline;
  line-height:1em;
  text-decoration:none;
  white-space: nowrap;
  color:#fff;
  padding:1.25em 2em;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#bottom-bar #controls li a.active {
  background: #000;
  animation: glowBtn 2s infinite;
  -webkit-animation: glowBtn 2s infinite;
}

#bottom-bar #controls li a:hover {
  border-top:6px solid rgb(0,232,255);
  background:rgba(255,255,255,0.1);
}
#navigation, #ev-navigation {
  width:320px;
  position: absolute;
  bottom:4em;
  right:0px;
  z-index:5;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  z-index:1;
}

#navigation.hidden, #ev-navigation.hidden {
  bottom:-494px;
}

nav { 
  margin:0em auto;
  position:relative;
  max-width:480px;
  text-align:left
}

nav ul {
  padding:0;
  margin:0;
  list-style:none;
  white-space: nowrap;
  background:#343838;
  transition:all .2s ease-in-out 0.1s;
  -o-transition:all .2s ease-in-out 0.1s;
  -moz-transition:all .2s ease-in-out 0.1s;
  -webkit-transition:all .2s ease-in-out 0.1s;
}

nav ul li:first-child {
  border-top:0
}

nav ul li {
  display:block;
  white-space: nowrap;
  border-bottom:1px dotted #000
  
}

nav ul li:last-child {
  border-bottom-width:0
}

nav ul li a {
  display:block;
  padding: 14px 2em;
  height: 23px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.45)), to(rgba(0,0,0,.65)));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,.65));
  background-image: -moz-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,.65));
  background-image: -o-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,.65));
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,.65));
  color:#fff;
  font-weight:normal;
  text-decoration:none;
  white-space: nowrap;
  border-left:.5em solid;
}

nav ul li a strong {
  float:right;
  font-size:.6em;
  margin-top:.65em
}

nav ul li a.slider-back {
  color:#00e2ff;
  background:rgba(0,0,0,.35);
  text-align:right
}

nav ul li a.slider-back strong {
  float:left
}

nav ul.slider-current {
  left:0;
  display:block
}

nav ul.slider-left { left:-100% }
nav ul.slider-right { left:100% }
nav ul li ul { left:200% }
nav ul li ul.slider-current { left:100% }
nav ul li ul.slider-left { left:0 }
nav ul li ul.slider-right { left:200% }

nav ul li.about a { border-left-color:rgba(0,226,255,.85) }
nav ul li.products a { border-left-color:rgba(0,226,255,.65) }
nav ul li.blog a { border-left-color:rgba(0,226,255,.45) }
nav ul li.resources a { border-left-color:rgba(0,226,255,.3) }
nav ul li.contact a { border-left-color:rgba(0,226,255,.125) }

nav ul li a:hover {
  background:rgba(0,0,0,.35);
  color:#fff;
  border-left-color:#00e2ff;
  
}

@media(min-width: 600px) {
   nav { 
    -webkit-box-shadow: 2px 2px 20px rgba(0,0,0,.95);
    -moz-box-shadow: 2px 2px 20px rgba(0,0,0,.95);
    box-shadow:2px 2px 20px rgba(0,0,0,.95);
  }
}

@-webkit-keyframes glowBtn {
	0% { border-top:6px solid rgba(0,232,255,0.35); }
	50% { border-top:6px solid rgba(255,205,0,1); }
	100% { border-top:6px solid rgba(0,232,255,0.35); }
}

@keyframes glowBtn {
	0% { background-color:red }
	50% { background-color:green }
	100% { background-color:red }
}
.footer-link {
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
  color: #FFF;
  white-space: nowrap;
  line-height: 25px;
}
.footer-link:hover {
  cursor: pointer;
}
/***********************************************************

                        Breadcrumbs

***********************************************************/
.breadcrumbs-nav {
  width: 25px;
  height: 25px;
  color: #BFBFBF;
  text-align: center;
  font-size: 20px;
  line-height: 100%;
  margin-top: 1.25em;
}
.breadcrumbs-nav:hover {
  color: #fff;
}
#breadcrumbs-nav-left {
  display: none;
  cursor: pointer;
}
#breadcrumbs-nav-right {
  display: none;
  cursor: pointer;
}
.breadcrumbs-container {
  overflow: hidden;
  width: 65%;
  height: 100%;
  line-height: 100%;
}
#breadcrumbs-table {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  border-collapse: collapse;
  cellspacing: 0;
  cellpadding: 0;
  border-spacing: 0;
  margin-top: 1.5em;
}
#breadcrumbs-table tr {
  position: absolute;
  height: 100%;
  white-space: nowrap;
}
#breadcrumbs-table tr td {
  margin: 0;
  padding: 0;
  height: 25px;
  white-space: nowrap;
  line-height: 100%;
}
.breadcrumb-separator {
  margin-right: 8px;
  margin-left: 8px;
  height: 100%;
  color: #bfbfbf;
  font-size: 12.5px;
  font-family: verdana;
  line-height: 100%;
  cursor: default;
}
.breadcrumb-link {
  position: relative;
  display: inline-block;
  height: 25px;
  font-size: 1em;
  line-height: 25px;
  cursor: pointer;
  color: lightgrey;
}
.breadcrumb-cosmos {
  color: #ffdb05;
}
.breadcrumb-earth {
  color: #517F95;
}
.breadcrumb-life {
  color: #499649;
  color: #fff;
}
.breadcrumb-prehistory {
  /*color: #ED9132;*/
  color: #fff;
}
.breadcrumb-humanity {
  color: #D45C46;
  color: #fff;
}
.breadcrumb-hover {
  color: #fff;
}

#footer .timeline-controls {
	list-style: none;
	margin: -15px 0 0 0;
	padding: 0;
}

#footer .timeline-controls li {
	display: inline-block;
	position: relative;
	line-height: 1em;
	*display: inline;
	*zoom:1;
}

#footer .timeline-controls li a {
	background: #222;
	display: block;
	padding: 1.25em 2em;
	border-left:  2px solid #ccc;
}

.timeline-popup {
	background: #000;
	list-style: none;
	position: absolute;
	bottom: 35px;
	right: 0;
	width: 320px;
	margin: 0;
	padding: 0 0 1em 0;
	transition: all 0.2s ease-in-out;
	z-index: 999;
	
}

.timeline-popup.hidden {
	bottom: -100%;
}

.timeline-popup li a {
	display:  block;
	border-bottom: 1px dotted #555;
	padding: 1em;
	line-height: 1em;
}

.timeline-popup li a:hover {
	background: #1e1e1e;
}


/***********************************************************

                            Auxiliary

***********************************************************/
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearer {
  clear: both;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.text-selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.blocking-layer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
}
.truncateText {
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-form-errormsg {
  color: #dd4b39;
  display: block;
}
.cz-lightgray {
  color: #aeaeae;
}
/***********************************************************

                    ListBox Base

***********************************************************/
.cz-listbox {
  margin: 15px 0;
  padding: 10px;
  background-color: #e9e9e9;
  list-style-type: none;
  border: solid 2px #c7c7c7;
  height: 200px;
  overflow: auto;
}
.cz-listbox-placeholder {
  margin: 5px 10px;
  padding: 10px;
  height: auto;
  border: solid 2px #0464a2;
  background-color: #e9e9e9;
}
.cz-listitem {
  clear: both;
  margin: 5px 10px;
  padding: 10px;
  height: auto;
  background-color: #fff;
  border: solid 2px #c7c7c7;
  background-image: -ms-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9e9e9), color-stop(1, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #e9e9e9 0%, #ffffff 100%);
}
.cz-listitem-close-btn {
  float: right;
  cursor: pointer;
  font-size: 14px;
}
/***********************************************************

                ContentItem ListBox

***********************************************************/
.cz-contentitem-listitem-icon {
  display: inline-block;
  width: 15%;
}
.cz-contentitem-listitem-icon > img {
  max-width: 100%;
}
.cz-contentitem-listitem-content {
  display: inline-block;
  margin: 0px 5px;
  vertical-align: top;
  width: 75%;
}
.cz-contentitem-listitem-title {
  margin: 0 0 10px 0;
  color: #232323;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-contentitem-listitem-descr {
  margin: 0;
  color: #aeaeae;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
