@font-face {
    font-family: 'OSPDIN';
    src: url('fonts/OSP-DIN-webfont.eot');
    src: url('fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OSP-DIN-webfont.woff') format('woff'),
         url('fonts/OSP-DIN-webfont.ttf') format('truetype'),
         url('fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OSP-DIN-webfont.eot');
    src: url('fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OSP-DIN-webfont.woff') format('woff'),
         url('fonts/OSP-DIN-webfont.ttf') format('truetype'),
         url('fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;
}